
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: 'EB Garamond', serif, sans-serif;
    font-size: 200%;
    color: #40514E;
   
}

p {
    line-height: 2;
}


h1, h2 {
    color: #0783b6;
    line-height: 2;
 
}

h3 {
    color: #40514E;
}

h1   {
    font-size: 6rem;
    margin: 0 auto;
    font-family: Sacramento;
    margin: 50px auto 0 auto;    
}

h2   {
        font-family: Montserrat;
        font-size: 2.5rem;
        padding-bottom: 10px;
}


h3   {
    font-family: Garamond;
    font-size: 1.5rem;
}

hr {
    border: dotted #40514E 6px;
    border-bottom: none;
    width: 45px;
    margin: 100px auto;
}

.skill-img {
    border-radius: 50%;
    
}


.computer-image {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}



.top-container {
  background-color: #d1f8ff;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.profile-container {
    padding-top: 50px;
}
    
  .copy {
      color: #f5fefd;
      font-size: 1.5rem;
      padding-top: 20px;
      margin: 0;
  }

  .about-me {
      width: 30%;
      margin: auto;
  }

li {
    list-style: none;
    color: #0783b6;
}


  
  .contact-me {
      width: 40%;
      margin: 40px auto 60px;
  }

  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-family: EB Garamond;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #80b5d6;
    background-image: -webkit-linear-gradient(top, #80b5d6, #3498db);
    background-image: -moz-linear-gradient(top, #80b5d6, #3498db);
    background-image: -ms-linear-gradient(top, #80b5d6, #3498db);
    background-image: -o-linear-gradient(top, #80b5d6, #3498db);
    background-image: linear-gradient(to bottom, #80b5d6, #3498db);
    text-decoration: none;
  }

  .bottom-container {
      background-color: #0783b6;
      padding-top: 50px;
      margin: 0;
  }

  a {
    color: #c2d7f4;
    font-family: 'EB Garamond', serif, sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover {
    color: #fff;
    
}