body {
    background-color: rgba(159,197,232, .5);
}

td    {
    padding: 6px;
}

hr {
    border-width: 10px;
    border-color: #fff;
    border-style: none;
    border-top-style: dotted;
    width: 5%;

}

img {
    height: 200px;
}